<div class="content">
    <h2>Legendas</h2>
    <h3>NOME DA FACÇÃO</h3>
    <h4>Facção:</h4>      
    <p>O nome completo da Facção.</p>
    <h4>Alcunha:</h4>
    <p>O nome reduzido da Facção.</p>
    <h4>Classe:</h4>
    <p>O nome da classe do personagem.</p>
    <h4>Cor Predominante:</h4>
    <p>A Cor símbolo da facção.</p> 
    <h4>Astro:</h4>
    <p>O Astro regente da classe. Isto determina o bônus de ataque ou defesa, a escolha do jogador durante a campanha. Para fins de jogo, cada dia tem 12h de luz (Sol) e 12h de noite (Lua).</p>
    <h4>Índole:</h4>
    <p>Define a índole da Facção e do personagem, que é requisito para a escolha de diversas características.</p>
    <h4>Origem da Facção:</h4>
    <p>Qual o local de origem?</p>
    <h4>Idade da Facção:</h4>
    <p>Quanto tempo ela existe?</p>
    <h4>Domínio Atual:</h4>
    <p>Qual a localização da sede da Facção.</p>
    <h4>Sede/Capital:</h4>
    <p>A Sede é ponto central da Facção.</p>
    <h4>Organização:</h4>
    <p>Qual o modo a Facção se organiza?</p>
    <h4>Lealdade Política:</h4>
    <p>A qual governo a Facção obedece.</p>
    <h4>Religião:</h4>
    <p>Qual a religião oficial da Facção.</p>
    <h4>Aliados Conhecidos:</h4>
    <p>Quais governos apoiam oficialmente esta Facção.</p>
    <h4>Inimigos Conhecidos:</h4>
    <p>Quais governos rivalizam oficialmente com esta Facção.</p>
    <h4>Seitas:</h4>
    <p>Quais são as Seitas da Facção. São organizações dentro da facção especialistas em um aspecto ou Trilha Taumatúrgica, podendo inclusive possuir índole oposta.</p> 
    <h4>Círculo Prioritário:</h4>
    <p>É o Círculo Taumatúrgico que qualquer membro da Facção possui e seu principal conhecimento.</p>
    <h4>Círculo Excluído:</h4>
    <p>É o Círculo Taumatúrgico que qualquer membro da Facção não pode possuir, seja por sua índole, por ideologia ou por convicção.</p>
    <h4>Campeão(a):</h4>  
    <p>É um Personagem modelo e o grande expoente da Facção na atualidade.</p> 
</div>
