<div class="content">
    <h2>Legendas</h2>
    <div class="section">
        <p><strong>Facção:</strong> O nome completo da Facção.</p>
        <p><strong>Alcunha:</strong> O nome reduzido da Facção.</p>
        <p><strong>Origem da Facção:</strong> Qual o local de origem?</p>
        <p><strong>Idade da Facção:</strong> Quanto tempo ela existe?</p>
        <p><strong>Classe:</strong> O nome da classe do personagem.</p>
        <p><strong>Raça:</strong> Raça da Facção</p>
        <p><strong>Sub-Raças:</strong> Raças subalternas ou associadas. Não podem ser escolhidas para jogar, exceto se fizerem parte de uma Seita.</p>
        <p><strong>Cor Predominante:</strong> A Cor símbolo da facção.</p>
        <p><strong>Astro:</strong> O Astro regente da classe. Isto determina o bônus de ataque ou defesa, a escolha do jogador durante a campanha. Para fins de jogo, cada dia tem 12h de luz (Sol) e 12h de noite (Lua).</p>
        <p><strong>Índole:</strong> Define a índole da Facção e do personagem, que é requisito para a escolha de diversas características.</p>
        <p><strong>Sede/Capital:</strong> A Sede é ponto central da Facção.</p>
        <p><strong>Seitas:</strong> Quais são as Seitas da Facção. São organizações dentro da facção especialistas em um aspecto ou Trilha Taumatúrgica, podendo inclusive possuir índole oposta.</p>
        <p><strong>Círculo Prioritário:</strong> É o Círculo Taumatúrgico que qualquer membro da Facção possui e seu principal conhecimento.</p>
        <p><strong>Representante:</strong> É um Personagem modelo e o grande expoente da Facção na atualidade.</p>
    </div>
    <div class="section">
        <h3>Tabela de Progressão do Personagem</h3>
        <p>É a tabela de construção do personagem, de acordo com os níveis.</p>
        <div class="sub-section">
            <table class="tabela">
                <thead>
                    <tr>
                        <th>NÍVEL / MODIFICADORES</th>
                        <th>DESBRAVADOR (A)</th>
                        <th>CAMPEÃO (A)</th>
                        <th>VETERANO (A)</th>
                        <th>LENDÁRIO (A)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Atributos</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Competências (Especializações)</td>
                        <td>0(0)</td>
                        <td>0(0)</td>
                        <td>0(0)</td>
                        <td>0(0)</td>
                    </tr>
                    <tr>
                        <td>Proezas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Pontos de Sorte</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Reputação / Controle</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Bônus de Ataque</td>
                        <td>+0</td>
                        <td>+0/+0</td>
                        <td>+0/+0/+0</td>
                        <td>+0/+0/+0/+0</td>
                    </tr>
                    <tr>
                        <td>Proteção Primária (Secundária)</td>
                        <td>+0/0</td>
                        <td>+0/0</td>
                        <td>+0/0</td>
                        <td>+0/0</td>
                    </tr>
                    <tr>
                        <td>Veículo ou Montaria</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Qtd de Equipamentos (Confecções Ritualísticas)</td>
                        <td>1(L)/0</td>
                        <td>1(L)/0</td>
                        <td>1(L)/0</td>
                        <td>1(L)/0</td>
                    </tr>
                    <tr>
                        <td>Círculos Taumatúrgicos</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Pontos Taumatúrgicos</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Especiais</td>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section">
        <h3>Explicação dos Atributos</h3>
        <div class="sub-section">
            <p><strong>Nível:</strong> Nível de poder do personagem. Está na ordem do menor para o maior da esquerda para a direita. Ou seja, Desbravador(a), Campeão(a), Veterano(a), Lendário(a).</p>
            <p><strong>Atributos:</strong> São os valores básicos do personagem. O número mostra quantos pontos você pode distribuir entre os atributos.</p>
            <p><strong>Competências (Especializações):</strong> São habilidades aprendidas através de treino. O número mostra quantos pontos você pode distribuir entre as opções. As Especializações são aperfeiçoamentos de uma competência e dobram seu valor. O número mostra quantas especializações você pode ter.</p>
            <p><strong>Proezas:</strong> É uma habilidade que dá naturalmente ao Personagem um bônus em algo específico.</p>
            <p><strong>Pontos de Sorte:</strong> Representa a sorte ou teimosia. O número mostra quantas tentativas você tem para executar uma tarefa.</p>
            <p><strong>Reputação / Controle:</strong> Reputação é o conceito que outros atribuem a você, seja por medo ou admiração. Controle é o domínio que você exerce sobre os outros. O número mostra quantos pontos você pode gastar em um ou outro.</p>
            <p><strong>Bônus de Ataque:</strong> É o bônus que o personagem recebe para atacar seu(s) oponente(s). O número mostra o bônus daquele ataque.</p>
            <p><strong>Proteção Primária / Secundária:</strong> A Proteção Primaria representa a proteção básica, ou seja, a sua defesa passiva. O número mostra o bônus recebido para isso. A Proteção Secundaria representa uma ação defensiva ativa que o personagem pode de usar durante o combate e o número mostra o número de ações que você pode usar.</p>
            <p><strong>Veículo ou Montaria:</strong> É a quantidade veículos ou montarias que você pode levar ou conduzir.</p>
            <p><strong>Qtd de Equipamentos (Confecções Ritualísticas):</strong> O equipamento define o que você carrega durante sua jornada, seja utensílios ou armas e armaduras. O número mostra a quantidade de itens que você pode carregar e a letra dentro do símbolo ( ) mostra a o peso daqueles itens. A Confecção Ritualista é o utensilio, arma ou armadura que tem algum caráter taumatúrgico. O número mostra a quantidade de itens mágicos que você ter entre os que já possui.</p>
            <p><strong>Círculos Taumatúrgicos:</strong> São círculos de poder que o personagem conhece e pode usar. Isso permite que você use os círculos em conjunto ou separadamente de acordo com seu interesse. O número mostra a quantidade de círculos aos quais você tem acesso além daquele que é obrigatório.</p>
            <p><strong>Pontos Taumatúrgicos:</strong> Definem a quantidade de Taumaturgias que podem ser escolhidas de acordo com o Nível de Progressão.</p>
            <p><strong>Especiais:</strong> É um poder especial, cumulativo com o nível anterior, mas não dentro do próprio nível, que pode ser usada quando o personagem desejar.</p>                
        </div>
    </div>
</div>
