<div class="content">
    <h2>A Proficiente Liga Alquímica</h2>    
    <img src="../../img/alquimia.jpg" class="foto"/>
    <div class="section">
        <p>Nas fileiras desta facção estão aqueles que são estudiosos, observadores e experimentadores, pois praticam uma arte antiga que mescla diversos elementos distintos em busca de um objetivo maior.</p>
    </div>
    <div class="section">
        <h3>Informações Gerais</h3>
            <div class="sub-section">
            <p><strong>Facção:</strong> A Proficiente Liga Alquímica</p>
            <p><strong>Alcunha:</strong> A Liga</p>
            <p><strong>Origem da Facção:</strong> Cidade de Kufá, Suméria</p>
            <p><strong>Idade da Facção:</strong> 1080 anos</p>
            <p><strong>Classe:</strong> O(A) Alquimista</p>
            <p><strong>Raça:</strong> Humanos</p>
            <p><strong>Sub-Raça:</strong> Não tem</p>
            <p><strong>Cor Predominante:</strong> Laranja</p>
            <p><strong>Astro:</strong> Sol</p>
            <p><strong>Índole:</strong> Neutra</p>
            <p><strong>Sede/Capital:</strong> Cidade da Babilônia</p>
            <p><strong>Seitas:</strong> A Tríade</p>
            <p><strong>Círculo Prioritário:</strong> Alchimia</p>
            <p><strong>Representante:</strong> Lavion Amjad Natiq Gronlean</p>
        </div>
    </div>
    <div class="section">
        <h3>Seitas</h3>
        <div class="sub-section">
            <h4>A Tríade</h4>
            <p>Organização de alquimistas mais radicais ou extremistas com foco na produção e uso indiscriminado da Taumaturgia. Ao contrário da Facção, acredita que o conhecimento deve estar restrito aos fiéis, e apenas eles devem recebê-lo.</p>
            <p><strong>Abetitas:</strong> Especiapzados em Defesa</p>
            <p><strong>Cainitas:</strong> Especiapzados em Ataque</p>
            <p><strong>Setitas:</strong> Especiapzados em Aprimoramento Corporal</p>
        </div>
    </div>
</div>
