<div class="content">
    <h2>Referência</h2>
    <table class="tabela">
        <thead>
            <tr>
                <th>Nº</th>
                <th>Facção</th>
                <th>Raça</th>
                <th>Classe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>A Sacrossanta Confraria Beneditina</td>
                <td>Anjos</td>
                <td>Caçador(a)</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Associação Profana</td>
                <td>Demônios</td>
                <td>Mago(a) da Guerra</td>
            </tr>
            <tr>
                <td>3</td>
                <td>O Protetorado da Távola do Templo da Luz</td>
                <td>Humanos</td>
                <td>Cavaleiro(a) da Luz</td>
            </tr>
            <tr>
                <td>4</td>
                <td>A Guilda Tecnocrática</td>
                <td>Forjados</td>
                <td>Tecnomago(a)</td>
            </tr>
            <tr>
                <td>5</td>
                <td>A Aliança Elemental</td>
                <td>Feéricos</td>
                <td>Guardiões</td>
            </tr>
            <tr>
                <td>6</td>
                <td>A Iluminação Transcendental</td>
                <td>Inumanos</td>
                <td>O(A) Mentalista</td>
            </tr>
            <tr>
                <td>7</td>
                <td>A Horda Selvagem</td>
                <td>Lobisomens</td>
                <td>Senhor(a) das Feras</td>
            </tr>
            <tr>
                <td>8</td>
                <td>A Guilda Imortal</td>
                <td>Vampiros</td>
                <td>O(A) Necromante</td>
            </tr>
            <tr>
                <td>9</td>
                <td>A Proficiente Liga Alquímica</td>
                <td>Humanos</td>
                <td>O(A) Alquimista</td>
            </tr>
            <tr>
                <td>10</td>
                <td>A Irmandade da Lua</td>
                <td>Humanos</td>
                <td>Bruxa</td>
            </tr>
            <tr>
                <td>11</td>
                <td>A Vila do Clã Oculto</td>
                <td>Humanos</td>
                <td>Shinobi / Kunoichi</td>
            </tr>
        </tbody>
    </table>
</div>
