<div class="content">
    <h2>Personalidades</h2>
    <img src="../../img/lavion.jpg" class="foto"/>
    <div class="section">
        <p><strong>NOME:</strong> Lavion Amjad Natiq Gronlean</p>
        <p><strong>ALCUNHA:</strong> O velho</p>
        <p><strong>NIVEL EFETIVO:</strong> Campeão</p>
        <p><strong>NASCIMENTO:</strong> 12/10/1691</p>
        <p><strong>NACIONALIDADE:</strong> Persa</p>
        <p><strong>IDADE:</strong> 204 Anos </p>
        <p><strong>ALTURA (CM):</strong> 180</p>
        <p><strong>PESO (KG):</strong> 70</p>
        <p><strong>OLHOS:</strong> Negros</p>
        <p><strong>CABELOS:</strong> Negros</p>
        <p><strong>ÍNDOLE:</strong> Neutra</p>
        <p><strong>TRAÇO:</strong> Aparenta 47 anos</p>
        <p><strong>FAMILIA:</strong> Não possui</p>
        <p><strong>NOBREZA/TITULOS:</strong> Não possui</p>
        <p><strong>SEITA:</strong> Abetita</p>
        <p><strong>C. FAMILIAR:</strong> Sim</p>
        <p><strong>MÃO HÁBIL:</strong> Destro</p>
        <p><strong>ARMA PRINCIPAL:</strong> Adaga de cabo negro feita com aço de damasco.</p>
        <p><strong>SEITA:</strong> Os Abetitas (especializados em Defesa)</p>
        <p><strong>PERSONALIDADE:</strong> É considerado arrogante, desdenhoso e sarcástico. É geralmente educado e muito direto. É leal e honrado a sua fação e sua nação, mas tem ressalvas quanto isso, preferindo afastar-se do cenário político.</p>
        <div class="sub-section">    
            <h3>BIOGRAFIA</h3>        
            <h4>4ª Era: Era Comum</h4>
            <p><strong>12/10/1691</strong> Nasce Lavion Amjad Natiq Gronlean em Sirnak.</p>
            <p><strong>1696</strong> Seu pai é promovido a capitão da guarda e o envia a escola sagrada em Karnak quando tem 5 anos. </p>
            <p><strong>1709</strong> Concluiu seus estudos e volta para casa. Ao chegar de viagem, descobre sua cidade arrasada por um ataque causado por uma seita de adoradores de lagartos, do qual seu pai escapa por pouco. Com sua chegada, o povo da cidade se organiza para combater os invasores. Uma série de pequenos confrontos ocorre eles saem vitoriosos. No fim do ano é tornado conselheiro da cidade.</p>
            <p><strong>1710</strong> Seu pai falece. Um novo e grande ataque da seita ocorre causando grandes estragos a cidade. Os cidadãos a muito custo conseguem vencer, fazendo-os fugir a esmo. Enfurecido, Lavion reúne 3 voluntários e segue a até a base do inimigo. Lá, perde seus companheiros, mas arrasa o forte, matando adultos crianças e idosos indiscriminadamente. Volta à cidade como herói, mas meses depois decide partir para uma espécie de autoexílio, quando então repara na paralisação de seu envelhecimento.</p>
        </div>
    </div>
    <img src="../../img/gerkkoniade.jpg" class="foto"/>
    <div class="section">
        <h3>O Monstro Gerkkoniade</h3>
        <p>Líder da Seita e inimigo jurado de Lavion.</p>
        <div class="sub-section">
            <p><strong>1715</strong> Resolve voltar a sua cidade natal e a encontra completamente em ruínas e totalmente abandonada. No segundo semestre reúne 2 mercenários segue novamente para o forte da seita a fim de investigar o motivo desta tragédia e descobre uma nova comunidade sendo formada. Diante de sua presença os adoradores fogem, mas o patrono da seita está presente, o grande lagarto Gerkkoniade. A criatura não só matou os mercenários como derrotou Lavion, perseguindo-o por dias.</p>
            <p><strong>1722</strong> Chega à cidade de Kufá atrás do sábio Yastron o dono da torre de astronomia, mas é enviado para Isra. Fica na cidade ampliando seus conhecimentos até a morte do sábio na mão de aventureiros em busca de fama. Encontra tais aventureiros em uma masmorra da região e vinga seu antigo professor. Toma a casa do sábio para si, mas diversas vezes se vê obrigado a lutar contra aventureiros que não sabem que Yastron morreu, vendo estas lutas como bons testes para suas habilidades.</p>
            <p><strong>1725</strong> Volta para sua cidade que está sendo reconstruída e onde é bem acolhido, mas abandona sua casa de vez com medo do aparecimento do monstro. Vai para o leste onde participa da guerra contra a cidade de Turcstan. É condecorado diversas vezes durante a guerra, sendo elevado ao posto de Comendador.</p>
            <p><strong>1726</strong> A cidade é atacada por Gerkkoniade e totalmente destruída.</p>
            <p><strong>1727</strong> Atravessa o mediterrâneo e vai para a região da Romanha, na cidade de Bolonha onde estabelece raízes.</p>
            <p><strong>1730</strong> Reaparece em Lecce, rumo ao porto de Otranto onde embarcará para a Aquelonia rumo a Delfos em busca do grande oráculo.</p>
            <p><strong>1731 a 1770</strong> Acredita-se que de Delfos foi para o leste e revisitou o Oriente Médio, a Ásia Menor e parte da Ásia Maior antes de voltar para o Reino da Itália e novamente se instalar em Bolonha.</p>
            <p><strong>1772</strong> Foi para a Fortaleza de San Leo a pedido dos Montefeltro quando conheceu o Conde de Cagliostro e onde viveu pelos próximos 23 anos.</p>
            <p><strong>1795</strong> Sai da tutela da cidade e decide ir para Constantinopla por terra, fazendo uma peregrinação para Meca.</p>
            <p><strong>1827 a 1837</strong> Passa um período de 10 anos aconselhando os nobres na Babilônia e resolve partir de volta para Isra.</p>
            <p><strong>1838 a 1895</strong> Assenta moradia em Isra, onde constrói um palacete a moda Árabe-Islâmica par residir.</p>
        </div>
    </div>
</div>
