<div class="content">
    <h2>Vampiros</h2>
    <img src="../../img/vampiros.jpg" class="foto"/>
    <div class="section">
        <p>Vampiros são uma raça de mortos-vivos composta de seres que se alimentam da essência vital de criaturas vivas (sangue), tornando-os imortais enquanto conseguirem este alimento.</p>
    </div>
    <div class="section">
        <h3>Características</h3>
        <div class="sub-section">
            <p><strong>Aparência Imutável:</strong> Vampiros sempre manterão a forma e aparência do momento antes de sua transformação.</p>
            <p><strong>Natureza Morta-Viva:</strong> Não precisam respirar, comer ou beber para se manterem (exceto alimentar-se de sangue), possuem peles pálidas e olhos levemente avermelhados ou amarelados.</p>
            <p><strong>Identificações:</strong> Um Vampiro possui perfeita visão noturna; Abomina a luz solar; Não possui reflexo em qualquer espécie de superfície; Não projeta sombra; Abominam alho em grande quantidade (equivalente a ½ de seu peso); Só podem entrar onde são convidados, exceto em igrejas ou outros lugares santificados.</p>
            <p><strong>Prisão:</strong> Um Vampiro permanece preso ou próximo a seu caixão, cripta, túmulo ou significativa quantidade de terra de seu local (equivalente a ½ de seu peso), por toda a sua existência. Assim, só pode se locomover por um raio nas proximidades deste local ou deve transportá-lo consigo.</p>
        </div>
    </div>
    <div class="section">
        <h3>Habilidades Raciais</h3>
        <div class="sub-section">
            <p><strong>Paralisia:</strong> Um objeto perfurante de madeira encravada no coração do Vampiro o paralisará fisicamente ao invés de matá-lo, até que o objeto seja retirado. Requisito: Nível Desbravador(a)</p>
            <p><strong>Fisiologia:</strong> O Vampiro é imune a dor, fome, sede, fadiga, sono ou qualquer outra característica deste tipo, seja natural ou sobrenatural. Embora não sinta sua percepção ou efeito, ainda recebe qualquer dano causado por uma dessas situações. Requisito: Nível Campeão(a)</p>
            <p><strong>Drenar Sangue:</strong> O Vampiro pode usar suas presas para recuperar pontos de vida enquanto drena sua vítima, além de conseguir “estocar” mais sangue em seu corpo. Requisito: Nível Veterano(a)</p>
            <p><strong>Força Vampírica:</strong> O Vampiro adquire mais força em troca de uma deterioração de sua aparência. Isso amplia seus feitos físicos embora prejudique suas capacidades sociais. Requisito: Nível Lendário(a)</p>
        </div>
    </div>
</div>
