<div class="content">
    <h2>Regras Básicas</h2>
    <h3>Criação de Personagem</h3>
    <p> A criação de personagem é um dos aspectos mais importantes do jogo, pois define as capacidades, habilidades e estilo de jogo de cada aventureiro.</p>
    <h4>Atributos</h4>
    <p>Os atributos representam as características básicas do personagem, influenciando em diversas áreas do jogo, desde a força física até a inteligência e a capacidade mágica.</p>
    <table class="tabela-regras">
        <thead>
            <tr>
                <th>NÍVEL / MODIFICADORES</th>
                <th>DESBRAVADOR (A)</th>
                <th>CAMPEÃO (A)</th>
                <th>VETERANO (A)</th>
                <th>LENDÁRIO (A)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Atributos</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Competências (Especializações)</td>
                <td>1(1)</td>
                <td>1(1)</td>
                <td>1(1)</td>
                <td>1(1)</td>
            </tr>
            <tr>
                <td>Proezas</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Pontos de Sorte</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Reputação / Controle</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Bônus de Ataque</td>
                <td>+1</td>
                <td>+1/0</td>
                <td>+1/+0/+0</td>
                <td>+1/+0/+0/+0</td>
            </tr>
            <tr>
                <td>Proteção Primária (Secundária)</td>
                <td>+1/1</td>
                <td>+1/1</td>
                <td>+1/1</td>
                <td>+1/1</td>
            </tr>
            <tr>
                <td>Veículo ou Montaria</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Qtd de Equipamentos (Confecções Ritualísticas)</td>
                <td>1(L)/0</td>
                <td>1(L)/0</td>
                <td>1(L)/0</td>
                <td>1(L)/0</td>
            </tr>
            <tr>
                <td>Círculos Taumatúrgicos</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Pontos de Poder</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Especiais</td>
                <td>Invocação</td>
                <td>Invocação</td>
                <td>Invocação</td>
                <td>Invocação</td>
            </tr>
        </tbody>
    </table>
    <h4>Nível:</h4>
    <p>Nível de poder do personagem. Está do menor para o maior da esquerda para a direita. </p>
    <h4>Atributos:</h4>
    <p>São os valores básicos do personagem.</p> 
    <p>Estão divididos em aptidão física (APF), aptidão intelectual (API), aptidão social (APS) e aptidão taumatúrgica (APT).</p>
    <p>O numero mostra quantos pontos você pode distribuir entre as 4 opções.</p>
    <h4>Competências (Especializações):</h4>
    <p>São habilidades aprendidas através de treino. O número mostra quantos pontos você pode distribuir entre as 10 opções.</p>
    <p>As Especializações são aperfeiçoamentos de uma competência e dobra seu valor. O número mostra quantas especializações você pode ter.</p>
    <h4>Pontos de Sorte:</h4>
    <p>Representa a sorte ou teimosia. O número mostra quantas tentativas você tem para executar uma tarefa.</p>
    <h4>Reputação</h4>
    <p>Reputação é o conceito que outros atribuem a você seja por medo ou admiração. Ter alta reputação significa que os outros o ajudarão ou fugirão.</p>
    <h4>Controle:</h4>
    <p>É o controle que você exerce sobre os outros. Ter alto controle significa que suas ordens serão obedecidas regiamente.</p>
    <p>O número mostra quantos pontos você pode gastar em um ou outro.</p>    
    <h4>Bônus de Ataque:</h4>
    <p>É o bônus que você recebe para atacar seu(s) oponente(s).</p>
    <p>Cada personagem pode fazer até 4 ataques a depender do seu nível.</p>
    <p>O número mostra o bônus naquele ataque separado pelo símbolo /, e não é cumulativo com os demais.</p> 
    <h4>Proteção Primária / Secundaria:</h4>
    <p>A Primaria representa a sua proteção básica, seja a sua pele ou armadura, ou seja, a sua defesa.</p> 
    <p>O número mostra o bônus que você possui para se defender.</p>
    <p>A secundaria representa uma ação defensiva (aparar, recuar, esquivar ou fintar) que você pode usar durante o combate.</p>
    <p>O número mostra o número de ações que você pode usar.</p>
    <h4>Veículo ou Montaria:</h4>
    <p>É a quantidade veículos ou montarias que você pode levar ou ser levado durante sua jornada.</p>
    <h4>Quantidade de Equipamentos (Confecção Ritualistas):</h4>
    <p>O equipamento define o que você carrega durante sua jornada, seja utensílios ou armas e armaduras.
    <p>Confecção Ritualista é o utensilio, arma ou armadura que tem algum caráter magico. 
    <p>O número mostra a quantidade de itens que você pode carregar, a letra dentro do símbolo ( ) mostra a o peso daqueles itens, podendo ser L (leve), M(Médio), P(Pesado) e valor separado pelo símbolo /, mostra a quantidade de itens mágicos que você ter entre os que já possui.</p>
    <h4>Círculos Taumatúrgicos:</h4>
    <p>São círculos de magia que o personagem pode conhecer e usar.</p>
    <p>Isso permite que você use os círculos em conjunto ou separadamente de acordo com seu interesse.</p>
    <p>O número mostra a quantidade de círculos aos quais você tem acesso além daquele que é obrigatório, dentre as 13 opções.</p>
    <h4>Pontos de Poder:</h4>
    <p>São pontos que tem uma serie de utilidades, tais como, escolher magias dentro de um círculo, construir magias novas, ampliar magias existentes, ampliar o poder de veículos, montarias, aliados, equipamentos e afins.</p>
    <h4>Especiais:</h4>
    <p>É um poder especial, cumulativo com o nível anterior, mas não dentro do próprio nível, que pode ser usada pelo personagem quando ele desejar.</p>
</div>
